html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "DrConsultaRegular", sans-serif;
    font-size: 100%;
    background-color:#0446c9;
    background-image: radial-gradient(ellipse farthest-side at center, rgba(255, 255, 255, 0.2) 0%, rgba(5, 93, 249, 0.2));
    background-repeat: repeat;
    color:  #eaeaea;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -webkit-locale: "pt-br";
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
    overflow-x: hidden;
}

#contentsContainer {
min-height:100%;
   position:relative;
}

header {
    min-height: 57px;
    min-width: 100%;
}

main {
    min-width: 100%;
    min-height: 100%;
    padding-bottom:100px;

}

footer {
    font-size: small;
    padding: 5px;
    background-color: #f4f4f4;
    width:100%;
    height: 56px;
    position: absolute;
    bottom: 0;
}

#formVerifyDocumentWrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}

#formVerifyDocument {
    margin-left: 5px;
    margin-right: 5px;
    background-color: #0c37b3;
    border-radius: 5px;
    padding: 20px; 
}

#appNameContainer {
    text-align: center;
}

#appNameIcon {
    vertical-align: middle;
}

#appNameLabel {
    display: inline;
    vertical-align: middle;
    font-size: 17px;
    font-weight: bold;
    text-align: left
}

#verifierKey {
    font-size: 15px;
    letter-spacing: -1px;
    font-weight: bold;
}

#btnSubmitVerifyDocument {
    padding-right: 20%;
    padding-left: 20%;
}

#imgLogoPrintable {
    display: none;
}

.logo {
    min-width: 190px;
    min-height: 28px;
}

.logoGreen {
    background-image:  url("drc-base/images/logo-default.svg");
}

.logoPink {
    background-image:  url("drc-base/images/logo-secundario-pink.svg");
}

.logoYellow {
    background-image:  url("drc-base/images/logo-secundario-yellow.svg");
}

.Green {
    color: #01efad !important;
}

.Yellow {
    color: #f9b61e !important;
}

.Pink {
    color: #fc5bb3 !important;
}

.Blue {
    color: #055df9 !important;
}

.Orange {
    color: #c1621a !important;
}

.Purple {
    color: #440dc1 !important;
}

.alertAtencao  {
    color: #055df9;
}

.alertAtencao  p {
    color: #055df9 !important;
}

#resultVerifyDocument {
    text-align: center;
}

#resultVerifyDocumentIcon {
    vertical-align: middle;
    height: 65px;
    width: 75px;
}

#resultVerifyDocumentBody {
    display: inline-block;
    width: 100%;
}

#documentTypeLabel {
    color: #055df9 !important;
}

#certificatesList li {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    word-break: break-word;
    width: 100%;
    font-size: smaller;
}

.inputMedium.valid,
.inputSmall.valid {
    background-image: none !important;
}

.collapse {
    word-wrap: break-word;
}

#rawContent {
    line-height: normal;
}

#rawContent li{
    font-size: smaller;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
}

#rawContent li span{
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    word-break: break-word;
    width: 100%;
    font-size: 87.5%;
}


#btnShowCertificates,
#btnShowRawContent {
    font-size: 80%;
    padding: 0 18px;
    max-width: 95%;
}

.collapseOnly .card-body {
    padding: 18px !important;
}

#viewSourceDocumentToogle {
    padding-bottom: 10px;
    font-size: 14px !important;
    font-weight: 600 !important;
    margin-left: 5px;
    cursor: pointer;
    max-width: 80%;
}

#viewSourceDocumentToogle i {
    color: #f4f4f4;
}

#viewSourceDocumentToogle a {
    color: #f4f4f4 !important;
    text-decoration: none;
}

#viewSourceDocumentToogle a:hover {
   text-decoration: underline;
   color: #dddddd !important;
}

#modalViewSourceDocumentHeader {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #01efad;
}

#modalViewSourceDocumentTitle {
    font-size: 20px;
    color: #504e4e;
}

#modalViewSourceDocumentBody {
    padding: 8px 16px;
}

#modalViewSourceDocumentFooter {
    padding: 10px;
}

#sourceDocument {
    min-width: 100%;
    min-height: 600px;
}

button:disabled,
button:disabled:hover {
    background-color: #c1c1c1 !important;
    color: #8e8686 !important;
}